<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-question-title">
        <h1>質問</h1>
      </div>
      <div class="form-question">
        <%= render 'form', question: @question %>
      </div>
    </div>
  </div>
</div>
