/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .sing-up-title {
  text-align: center;
 }

.sing-up {
  text-align: center;
  border: 1px solid #c0c0c0;
  padding: 20px;
}

.login-title {
 text-align: center;
}

.login {
 text-align: center;
 border: 1px solid #c0c0c0;
 padding: 20px;
}

.password-title {
 text-align: center;
}

.password {
 text-align: center;
 border: 1px solid #c0c0c0;
 padding: 50px;
}

.user_info-title {
  text-align: center;
}

.user-info {
 text-align: center;
 border: 1px solid #c0c0c0;
 padding: 50px;
}

.alert-notice {
  text-align: center;
  color: #3c763d;
  background-color: #dff0d8;
}
.alert-alert {
  text-align: center;
  background-color: #f2dede;
  color: #a94442;
}
