// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-header {
  padding-bottom: 100%;
  width: 100%;
  background-size: cover;
  background-image: url("miyaflow_back.jpg");
  background-attachment: fixed;
}
.question {
  border-bottom: 1px solid #ccc;
}

.question-title {
  border-bottom: 1px solid #ccc;
}

.question-edit {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.question-action {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.answer {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.answer-edit {
  text-align: right;
}

.color-blue {
  color: DodgerBlue;
}
.color-red {
color: red;
}
